@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.container-fluid {
    display: flex;
}

agm-map {
    height: 500px;
}

.santa-container {
    max-width: 30px;
}

.map-container {
    width: 100%;
    height: 92%;
    background: $dark;
}

form,
.back-inner {
    max-width: 500px;
}

@include media-breakpoint-down('sm') {
    .container-fluid {
        min-height: calc(100vh - 55px);
    }
}

@include media-breakpoint-up('md') {
    .container-fluid {
        min-height: 100vh;
    }
}
