<div class="container-fluid bg-light">
    <div class="col-12 py-5 text-center">
        <!-- heading -->
        <div class="col-12">
            <h2 class="text-danger">Santa's Child Tracker</h2>

            <!-- back -->
            <p class="lead text-success">View a child's location below</p>
            <div class="back d-flex justify-content-center">
                <div class="col back-inner d-flex justify-content-center">
                    <a routerLink="../" class="col-6 d-block">
                        <span class="position-absolute" class="pr-0">
                            <fa-icon [icon]="faAngleLeft"></fa-icon>
                        </span>
                        Back
                        <div class="d-inline-block santa-container">
                            <img
                                src="../../assets/santa2.svg"
                                alt="map"
                                class="img-fluid d-inline-block"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!-- form container -->
        <div class="col-12 d-flex justify-content-center mt-5">
            <div #gmap class="map-container">
                <agm-map [latitude]="lat" [longitude]="lng">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
            </div>
        </div>
    </div>
</div>
