<div class="container-fluid">
    <div class="col-12">
        <!-- admin header -->
        <div *ngIf="admin; else: child" class="text-center">
            <h3>
                <span class="text-success">Welcome</span> to
                <span class="text-danger">Santa's</span> Panel!
            </h3>
            <h5>Manage your list below</h5>
        </div>

        <!-- child header -->
        <ng-template #child>
            <div class="text-center">
                <h3>
                    Thanks, <span class="text-success">{{ username }}</span> for
                    joining <span class="text-danger">Santa's</span> list
                </h3>
                <h5>Your presents are coming, so don't be naughty!</h5>
            </div>
        </ng-template>
    </div>

    <!-- admin content -->
    <div *ngIf="admin" class="col-12 d-flex justify-content-center mt-5">
        <div class="admin-container">
            <div class="col-12 mb-3 pl-0">
                <div class="row">
                    <a routerLink="/home/add-child" class="col-6">
                        <span class="position-absolute" class="pr-2">
                            <fa-icon [icon]="faPlus"></fa-icon>
                        </span>
                        Add Child
                    </a>
                </div>
            </div>

            <!-- children list -->
            <div class="list-group">
                <a
                    *ngFor="let child of children; odd as isOdd"
                    class="list-group-item list-group-item-action flex-column align-items-start"
                    [ngClass]="{ active: isOdd }"
                >
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">
                            {{ child.firstName + ' ' + child.lastName }}
                        </h5>
                        <small>
                            <a
                                routerLink="/home/children/{{ child.id }}"
                                class="btn mr-2"
                                [ngClass]="{
                                    'bg-dark': !isOdd,
                                    'text-white': !isOdd,
                                    'bg-white': isOdd,
                                    'text-dark': isOdd
                                }"
                            >
                                <fa-icon [icon]="faPencilAlt"></fa-icon>
                            </a>
                            <a
                                class="btn bg-danger text-white"
                                [ngClass]="{
                                    'bg-danger': !isOdd,
                                    'text-white': !isOdd,
                                    'bg-white': isOdd,
                                    'text-danger': isOdd
                                }"
                                (click)="openModal(modal)"
                            >
                                <fa-icon [icon]="faTrash"></fa-icon>
                            </a>
                        </small>

                        <!-- delete child modal -->
                        <ng-template #modal>
                            <div class="modal-header d-flex px-5 justify-content-center">
                                <h4 class="modal-title">
                                    Are you sure you want to remove
                                    <!-- delete error -->
                                    <div
                                        *ngIf="deleteChildError"
                                        class="h6 alert alert-danger my-2 text-center">
                                        Failed to delete {{ child.firstName + ' ' + child.lastName }}
                                    </div>
                                </h4>
                            </div>
                            <div class="modal-body pt-0">
                                <div class="h4 text-center text-info font-italic pb-3 mb-0">
                                    {{ child.firstName + ' ' + child.lastName }}<span class="text-dark">?</span>
                                </div>
                                <div class="text-center">
                                    <small>This
                                        <span class="font-weight-bold font-italic">
                                            cannot
                                        </span>
                                        be undone.
                                        <span class="font-weight-bold font-italic">
                                            {{ child.firstName + '\'s' }}
                                        </span>account will cease to exist.
                                    </small>
                                </div>
                                <div class="d-flex justify-content-center pt-3">
                                    <button class="col-4 btn btn-outline-danger mr-2"
                                            (click)="deleteChild(child)"
                                            [disabled]="processingDelete">
                                            {{ processingDelete ? 'Deleting...' : 'Delete' }}
                                            <span
                                                *ngIf="processingDelete"
                                                class="position-absolute"
                                                class="pl-2">
                                                <fa-icon [icon]="faSync" [spin]="true"></fa-icon>
                                            </span>
                                    </button>
                                    <button class="col-4 btn btn-outline-info ml-2"
                                            (click)="modalRef.hide()"
                                            [disabled]="processingDelete">Cancel
                                    </button>
                                </div>
                            </div>
                        </ng-template>
                        <!-- end of delete modal -->
                    </div>
                    <p class="mb-2">
                        {{ child.city + ', ' + child.province + ' ' + child.country }}
                    </p>
                    <small class="icon-container d-inline-block">
                        <img
                            src="../../assets/{{ child.isNaughty ? 'naughty' : 'santa' }}.svg"
                            alt="naughty"
                            class="img-fluid d-inline-block"
                        />
                    </small>
                </a>
            </div>
        </div>
    </div>
</div>
