<div class="container-fluid">
    <div class="col-12">
        <!-- admin header -->
        <div *ngIf="admin; else: child" class="text-center">
            <h3>Welcome to Santa's List!</h3>
            <h5>Manage the children below</h5>
        </div>

        <!-- child header -->
        <ng-template #child>
            <div class="text-center">
                <h3>
                    Thanks, <span class="text-success">{{ username }}</span> for
                    joining <span class="text-danger">Santa's</span> list
                </h3>
                <h5>Your presents are coming, so don't be naughty!</h5>
            </div>
        </ng-template>
    </div>

    <!-- admin content -->
    <div *ngIf="admin" class="col-12 d-flex justify-content-center mt-5">
        <div class="admin-container">
            <div class="col-12 mb-3 pl-0">
                <div class="row">
                    <a routerLink="/home/add-child" class="col-6">
                        <span class="position-absolute" class="pr-2">
                            <fa-icon [icon]="faPlus"></fa-icon>
                        </span>
                        Add Child
                    </a>
                </div>
            </div>

            <!-- children list -->
            <div class="list-group">
                <a
                    *ngFor="let child of children; odd as isOdd"
                    class="list-group-item list-group-item-action flex-column align-items-start"
                    [ngClass]="{ active: isOdd }"
                >
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">
                            {{ child.firstName + ' ' + child.lastName }}
                        </h5>
                        <small>
                            <div class="btn">
                                <fa-icon [icon]="faPencilAlt"></fa-icon>
                            </div>
                            <div class="btn">
                                <fa-icon [icon]="faTrash"></fa-icon>
                            </div>
                        </small>
                    </div>
                    <p class="mb-1">{{ child.country }}</p>
                    <small class="icon-container d-inline-block">
                        <img
                            src="../../assets/{{ child.isNaughty ? 'naughty' : 'santa' }}.svg"
                            alt="naughty"
                            class="img-fluid d-inline-block"
                        />
                    </small>
                </a>
            </div>
        </div>
    </div>
</div>
