<div class="navbar">
    <div
        class="navbar-header d-flex justify-content-center align-items-center flex-grow-1"
    >
        <a
            class="navbar-brand text-center text-success position-relative"
            [routerLink]="['/']"
            (click)="collapse()"
        >
            <span class="logo-container d-inline-block">
                <img
                    src="../../assets/north-pole.svg"
                    alt="logo"
                    class="d-inline-block img-fluid">
            </span>
            NorthPole
        </a>
        <div
            class="hamburger hamburger--slider position-absolute"
            data-toggle="collapse"
            data-target=".navbar-collapse"
            [attr.aria-expanded]="isExpanded"
            [ngClass]="{ 'is-active': isExpanded }"
            (click)="toggle()"
        >
            <div class="hamburger-box"><div class="hamburger-inner"></div></div>
        </div>
    </div>
    <div class="navbar-collapse collapse" [ngClass]="{ show: isExpanded }">
        <div class="nav flex-column flex-grow-1 nav-pills">
            <!-- show home if logged in -->
            <a
                *ngIf="authenticated"
                routerLink="/home"
                routerLinkActive="link-active"
                (click)="collapse()"
                class="nav-link"
            >
                <fa-icon [icon]="faHome"></fa-icon> Home
            </a>
            <!-- show login if not logged in -->
            <a
                *ngIf="!authenticated"
                routerLink="/login"
                routerLinkActive="link-active"
                (click)="collapse()"
                class="nav-link"
            >
                <fa-icon [icon]="faSignInAlt"></fa-icon> Login
            </a>
            <!-- show register if not logged in -->
            <a
                *ngIf="!authenticated"
                routerLink="/register"
                routerLinkActive="link-active"
                (click)="collapse()"
                class="nav-link"
            >
                <fa-icon [icon]="faUserPlus"></fa-icon> Register
            </a>
            <!-- show logout if logged in -->
            <a
                *ngIf="authenticated"
                routerLink="/login"
                (click)="logout()"
                class="nav-link"
            >
                <fa-icon [icon]="faSignOutAlt"></fa-icon> Logout
            </a>
        </div>
    </div>
</div>
