<div class="container-fluid bg-light">
    <div class="col-12 py-5 text-center">
        <!-- heading -->
        <div class="col-12">
            <h2 class="text-danger" (click)="openModal(successModal)">Child Contact</h2>

            <!-- navigated from /home -->
            <p class="lead text-success">View and update a child's contact information below</p>
            <div class="back d-flex justify-content-center">
                <div class="col back-inner text-left">
                    <a routerLink="{{ getRedirectUrl() }}">
                        <span class="position-absolute" class="pr-0">
                            <fa-icon [icon]="faAngleLeft"></fa-icon>
                        </span>
                        Back
                    </a>
                </div>
            </div>
        </div>

        <!-- form container -->
        <div class="col-12 d-flex justify-content-center mt-5">
            <!-- form -->
            <form
                [formGroup]="updateForm"
                (ngSubmit)="onSubmit()"
                class="row"
                #updateFormGroup="ngForm"
            >
                <!-- register errors -->
                <div class="col-12  mb-3 " *ngIf="updateError">
                    <div class="alert alert-danger my-2 text-center">
                        {{ updateError }}
                    </div>
                </div>

                <!-- create label and inputs for each property -->
                <ng-container *ngFor="let prop of formControlProperties">
                    <div
                        class="col-12 mb-3 text-left"
                        [ngClass]="{ 'custom-checkbox': prop.propertyName == 'isNaughty',
                                    'custom-control': prop.propertyName == 'isNaughty'}">

                        <!-- don't display label above naughty checkbox -->
                        <ng-container *ngIf="prop.propertyName != 'isNaughty'">
                            <label
                                for="{{ prop.propertyName }}"
                                class="text-success"
                            >
                                {{ prop.displayName }}
                            </label>
                        </ng-container>

                        <!-- naughty checkbox -->
                        <ng-container *ngIf="prop.inputType === 'checkbox'; else: other">
                            <!-- checked attribute and different css class -->
                            <!-- also, checkbox value needs to be manually updated in formcontrol -->
                            <!-- through the onCheckboxChange() method -->
                            <input
                                id="{{ prop.propertyName }}"
                                class="form-control custom-control-input"
                                name="{{ prop.propertyName }}"
                                type="checkbox"
                                autocomplete="{{ prop.propertyName }}"
                                formControlName="{{ prop.propertyName }}"
                                #isNaughtyCheckbox
                            />
                            <label
                                class="custom-control-label text-success"
                                for="{{ prop.propertyName }}">
                                Naughty
                            </label>
                        </ng-container>

                        <!-- other -->
                        <ng-template #other>
                            <input
                                id="{{ prop.propertyName }}"
                                class="form-control"
                                name="{{ prop.propertyName }}"
                                type="{{ prop.inputType }}"
                                autocomplete="{{ prop.propertyName }}"
                                placeholder="{{ prop.placeholderValue }}"
                                formControlName="{{ prop.propertyName }}"
                            />
                            <!-- form-validation errors -->
                            <div
                                *ngIf="
                                    getFormControl(prop.propertyName).invalid &&
                                    getFormControl(prop.propertyName).dirty"
                                class="alert alert-danger">
                                <div
                                    *ngIf="getFormControl(prop.propertyName).errors['required']">
                                    {{ prop.displayName }} is required.
                                </div>
                                <div
                                    *ngIf="getFormControl(prop.propertyName).errors['minlength']">
                                    {{ prop.displayName }} length must be at
                                    least 9.
                                </div>
                                <div
                                    *ngIf="getFormControl(prop.propertyName).errors['pattern']">
                                    Invalid {{ prop.displayName }} format.
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </ng-container>
                <!-- end of ngFor -->

                <!-- submit -->
                <div class="col-12 mb-3 text-left">
                    <button
                        class="btn btn-danger btn-lg btn-block"
                        type="submit"
                        [disabled]="!updateFormGroup.valid || submitted"
                    >
                        {{ submitted ? 'Saving...' : 'Save' }}
                        <!-- show spinner icon when form is submitted -->
                        <span
                            *ngIf="submitted"
                            class="position-absolute"
                            class="pl-2"
                        >
                            <fa-icon [icon]="faSync" [spin]="true"></fa-icon>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- delete child modal -->
<ng-template #successModal>
    <div class="modal-header d-flex px-5 justify-content-center">
        <h4 class="modal-title">
            {{ updateSuccessMsg ? 'Successfully updated' : 'No changes made to:' }}
        </h4>
    </div>
    <div class="modal-body pt-0">
        <div class="h4 text-center text-info font-italic pb-3 mb-0">
            {{ getFormControl('firstName').value + ' ' + getFormControl('lastName').value }}
        </div>
        <div class="text-center">
            <small>You
                <span class="font-weight-bold font-italic">
                    can
                </span>
                update
                <span class="font-weight-bold font-italic">
                    {{ getFormControl('firstName').value + '\'s' }}
                </span>profile anytime.
            </small>
        </div>
        <div class="d-flex justify-content-center pt-3">
            <button class="col-4 btn btn-outline-info mr-2"
                    (click)="modalRef.hide()"> Ok
            </button>
        </div>
    </div>
</ng-template>
