<div class="form-container">
    <form class="form-signin" (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        <!-- login error -->
        <div *ngIf="loginError" class="alert alert-danger my-2 text-center">
            {{ loginError }}
        </div>

        <!-- email -->
        <label for="email" class="sr-only">Email address</label>
        <input
            id="email"
            class="form-control"
            name="email"
            type="email"
            required
            placeholder="Email address"
            [(ngModel)]="model.email"
            [disabled]="submitted"
            #email="ngModel"
        />
        <!-- email form validation error -->
        <div *ngIf="email.invalid && email.dirty" class="alert alert-danger">
            Email is required
        </div>

        <!-- password -->
        <label for="inputPassword" class="sr-only">Password</label>
        <input
            id="password"
            class="form-control"
            name="password"
            type="password"
            required
            placeholder="Password"
            [(ngModel)]="model.password"
            [disabled]="submitted"
            #password="ngModel"
        />
        <!-- password form validation error -->
        <div
            *ngIf="password.invalid && password.dirty"
            class="alert alert-danger"
        >
            Password is required
        </div>

        <!-- submit -->
        <button
            class="btn btn-lg btn-primary btn-block"
            type="submit"
            [disabled]="!loginForm.form.valid || submitted"
        >
            {{ submitted ? 'Signing in...' : 'Signin' }}
            <!-- show spinner icon when form is submitted -->
            <span *ngIf="submitted" class="position-absolute" class="pl-2">
                <fa-icon [icon]="faSync" [spin]="true"></fa-icon>
            </span>
        </button>
    </form>
</div>
