<div class="container-fluid bg-light">
    <div class="col-12 py-5 text-center">
        <!-- heading -->
        <div class="col-12">
            <h2 class="text-danger">Northpole Signup</h2>

            <!-- navigated from /home -->
            <ng-container *ngIf="getRedirectUrl() === '/home'; else: loginRedirect">
                <p class="lead text-success">Add a child to Santa's list</p>
                <div class="back d-flex justify-content-center">
                    <div class="col back-inner text-left">
                        <a routerLink="{{ getRedirectUrl() }}">
                            <span class="position-absolute" class="pr-0">
                                <fa-icon [icon]="faAngleLeft"></fa-icon>
                            </span>
                            Back
                        </a>
                    </div>
                </div>
            </ng-container>

            <!-- navigated from other -->
            <ng-template #loginRedirect>
                <p class="lead text-success">Register below to join santa's mailing list.</p>
            </ng-template>
        </div>

        <!-- form container -->
        <div class="col-12 d-flex justify-content-center mt-5">
            <!-- form -->
            <form
                [formGroup]="registerForm"
                (ngSubmit)="onSubmit()"
                class="row"
                #registerFormGroup="ngForm"
            >
                <!-- register errors -->
                <div class="col-12  mb-3 " *ngIf="registerError">
                    <div class="alert alert-danger my-2 text-center">
                        {{ registerError }}
                    </div>
                </div>

                <!-- create label and inputs for each property -->
                <ng-container *ngFor="let prop of formControlProperties">
                    <div
                        class="col-12 mb-3 text-left"
                        [ngClass]="{
                            'custom-checkbox': prop.propertyName == 'isNaughty',
                            'custom-control': prop.propertyName == 'isNaughty'
                        }"
                    >
                        <!-- don't display label above naughty checkbox -->
                        <ng-container *ngIf="prop.propertyName != 'isNaughty'">
                            <label for="{{ prop.propertyName }}" class="text-success">
                                {{ prop.displayName }}
                            </label>
                        </ng-container>

                        <ng-container [ngSwitch]="prop.inputType">
                            <!-- password -->
                            <ng-container *ngSwitchCase="'password'">
                                <!-- no placeholder attribute -->
                                <input
                                    id="{{ prop.propertyName }}"
                                    class="form-control"
                                    [ngClass]="{
                                        'password-mismatch':
                                        prop.propertyName ==
                                        'confirmPassword' &&
                                        confirmPasswordDirty() &&
                                        !passwordsMatch()
                                    }"
                                    name="{{ prop.propertyName }}"
                                    type="{{ prop.inputType }}"
                                    autocomplete="{{ prop.propertyName }}"
                                    formControlName="{{ prop.propertyName }}"
                                />
                                <!-- password form-validation errors -->
                                <ng-container
                                    *ngIf="
                                        getFormControl(prop.propertyName).dirty
                                    "
                                >
                                    <div
                                        *ngIf="
                                            (prop.propertyName ==
                                                'confirmPassword' &&
                                                !passwordsMatch()) ||
                                            getFormControl(prop.propertyName)
                                                .invalid
                                        "
                                        class="alert alert-danger"
                                    >
                                        <div
                                            *ngIf="
                                                getFormControl(
                                                    prop.propertyName
                                                ).errors &&
                                                getFormControl(
                                                    prop.propertyName
                                                ).errors['required']
                                            "
                                        >
                                            {{ prop.displayName }} is required.
                                        </div>
                                        <div
                                            *ngIf="
                                                getFormControl(
                                                    prop.propertyName
                                                ).errors &&
                                                getFormControl(
                                                    prop.propertyName
                                                ).errors['minlength']
                                            "
                                        >
                                            {{ prop.displayName }} length must
                                            be at least 6.
                                        </div>
                                        <div
                                            *ngIf="
                                                prop.propertyName ==
                                                    'confirmPassword' &&
                                                !passwordsMatch()
                                            "
                                        >
                                            Passwords must match.
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>

                            <!-- naughty checkbox -->
                            <ng-container *ngSwitchCase="'checkbox'">
                                <!-- checked attribute and different css class -->
                                <!-- also, checkbox value needs to be manually updated in formcontrol -->
                                <!-- through the onCheckboxChange() method -->
                                <input
                                    id="{{ prop.propertyName }}"
                                    class="form-control custom-control-input"
                                    name="{{ prop.propertyName }}"
                                    type="{{ prop.inputType }}"
                                    autocomplete="{{ prop.propertyName }}"
                                    formControlName="{{ prop.propertyName }}"
                                    (change)="onCheckboxChange($event)"
                                />
                                <label
                                    class="custom-control-label text-success"
                                    for="{{ prop.propertyName }}"
                                    >Naughty</label
                                >
                            </ng-container>

                            <!-- other -->
                            <ng-container *ngSwitchDefault>
                                <input
                                    id="{{ prop.propertyName }}"
                                    class="form-control"
                                    name="{{ prop.propertyName }}"
                                    type="{{ prop.inputType }}"
                                    autocomplete="{{ prop.propertyName }}"
                                    placeholder="{{ prop.placeholderValue }}"
                                    formControlName="{{ prop.propertyName }}"
                                />
                                <!-- form-validation errors -->
                                <div
                                    *ngIf="
                                        getFormControl(prop.propertyName)
                                            .invalid &&
                                        getFormControl(prop.propertyName).dirty
                                    "
                                    class="alert alert-danger"
                                >
                                    <div
                                        *ngIf="
                                            getFormControl(prop.propertyName)
                                                .errors['required']
                                        "
                                    >
                                        {{ prop.displayName }} is required.
                                    </div>
                                    <div
                                        *ngIf="
                                            getFormControl(prop.propertyName)
                                                .errors['minlength']
                                        "
                                    >
                                        {{ prop.displayName }} length must be at
                                        least 9.
                                    </div>
                                    <div
                                        *ngIf="
                                            getFormControl(prop.propertyName)
                                                .errors['pattern']
                                        "
                                    >
                                        Invalid {{ prop.displayName }} format.
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                        <!-- end of ngSwitch -->
                    </div>
                </ng-container>
                <!-- end of ngFor -->

                <!-- submit -->
                <div class="col-12 mb-3 text-left">
                    <button
                        class="btn btn-danger btn-lg btn-block"
                        type="submit"
                        [disabled]="!registerFormGroup.valid || submitted"
                    >
                        {{ submitted ? 'Signing up...' : 'Signup' }}
                        <!-- show spinner icon when form is submitted -->
                        <span
                            *ngIf="submitted"
                            class="position-absolute"
                            class="pl-2"
                        >
                            <fa-icon [icon]="faSync" [spin]="true"></fa-icon>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
