@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.container-fluid {
    display: flex;
}

form {
    max-width: 500px;
}

label[for="good"],
label[for="naughty"] {
    cursor: pointer;
}
.custom-control {
    padding-left: 2.5rem;
}

@include media-breakpoint-down('sm') {
    .container-fluid {
        min-height: calc(100vh - 55px);
    }
}

@include media-breakpoint-up('md') {
    .container-fluid {
        min-height: 100vh;
    }
}
